[Desktop Entry]
Comment=
Exec=/usr/bin/voxt
GenericName=Vocabulary studying via context oriented approach
Name=voxt
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
